
.header{
  text-align: center;
  padding: 0.8rem;
  background-color: #3f51b5;

  &__title{
    color: #ebedf7;
    margin: 0;
    font-size: 2rem;
  }
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e9ecef;
  color: #343a40;
  text-align: center;
  padding: 1rem;

  &__text{
    margin: 0;
  }
}